# Turn-taking thresholds (a lower value means a character will start speaking faster)
TurnTakingThreshold_Poppy= 60
TurnTakingThreshold_Prudence= 70
TurnTakingThreshold_Spike= 40
TurnTakingThreshold_Obadiah= 100

# Logging
logging= true

response_file = /eu/semaine/components/dialogue/data/responses.xml

template_files=	\
	/eu/semaine/components/dialogue/data/templates/startup.xml| \
	/eu/semaine/components/dialogue/data/templates/Moderator.xml| \
	/eu/semaine/components/dialogue/data/templates/CharChangeModeratorEval.xml| \
	/eu/semaine/components/dialogue/data/templates/last_resort.xml| \
	/eu/semaine/components/dialogue/data/templates/audiobased/Poppy_AudioBased.xml| \
	/eu/semaine/components/dialogue/data/templates/audiobased/Prudence_AudioBased.xml| \
	/eu/semaine/components/dialogue/data/templates/audiobased/Spike_AudioBased.xml| \
	/eu/semaine/components/dialogue/data/templates/audiobased/Obadiah_AudioBased.xml| \
	/eu/semaine/components/dialogue/data/templates/ArousalResponses.xml| \
	/eu/semaine/components/dialogue/data/templates/afterSilence/Prudence_AfterSilence.xml| \
	/eu/semaine/components/dialogue/data/templates/afterSilence/Poppy_AfterSilence.xml| \
	/eu/semaine/components/dialogue/data/templates/afterSilence/Spike_AfterSilence.xml| \
	/eu/semaine/components/dialogue/data/templates/afterSilence/Obadiah_AfterSilence.xml| \
	/eu/semaine/components/dialogue/data/templates/linkingResponses/Poppy_LinkingResponses.xml| \
	/eu/semaine/components/dialogue/data/templates/linkingResponses/Prudence_LinkingResponses.xml| \
	/eu/semaine/components/dialogue/data/templates/linkingResponses/Obadiah_LinkingResponses.xml| \
	/eu/semaine/components/dialogue/data/templates/linkingResponses/Spike_LinkingResponses.xml| \
					