# Logging
logging= true

average_wait_time = 11

response_file = /eu/semaine/components/dialogue/data/responses.xml

template_files=	\
	/eu/semaine/components/dialogue/data/templates/startup.xml| \
	/eu/semaine/components/dialogue/data/templates/Moderator.xml| \
	/eu/semaine/components/dialogue/data/templates/CharChangeModeratorEval.xml| \
	/eu/semaine/components/dialogue/data/templates/RandomSystem.xml| \