semaine.components = \
    |eu.semaine.components.meta.SystemManager| \
    |eu.semaine.examples.swimmer.PositionComputer| \
    |eu.semaine.examples.swimmer.SwimmerDisplay| \
    |eu.semaine.examples.swimmer.Commentator| \
    |eu.semaine.components.mary.SpeechBMLRealiser| \
    |eu.semaine.components.mary.SemaineAudioPlayer| \

semaine.systemmanager.gui = true

