# SEMAINE component runner config file

semaine.components = \
    |eu.semaine.components.meta.SystemManager| \
    |eu.semaine.components.dummy.GenericTestComponent(Jim, $semaine.topicA, $semaine.topicB) | \
    |eu.semaine.components.dummy.GenericTestComponent(John, $semaine.topicB, $semaine.topicA) |
    

semaine.topicA = semaine.chat.oneway
semaine.topicB = semaine.chat.theotherway

