# SEMAINE component runner config file

semaine.components = \
    |eu.semaine.components.meta.SystemManager| \
    |eu.semaine.components.dialogue.interpreters.EmotionInterpreter| \
	|eu.semaine.components.dialogue.interpreters.SpeechInterpreter| \
	|eu.semaine.components.dialogue.interpreters.TurnTakingInterpreter| \
	|eu.semaine.components.dialogue.interpreters.UtteranceInterpreter| \
	|eu.semaine.components.dialogue.interpreters.HeadMovementInterpreter| \
	|eu.semaine.components.dialogue.actionproposers.UtteranceActionProposer| \
    |eu.semaine.components.dialogue.test.TestGui| \
    |eu.semaine.components.mary.SpeechPreprocessor| \
    |eu.semaine.components.mary.SpeechBMLRealiser| \
    |eu.semaine.components.control.ParticipantControl| \
    |eu.semaine.components.MessageLogComponent($semaine.messagelog.topic, $semaine.messagelog.messageselector)| \

    |eu.semaine.components.dialogue.interpreters.UserPresenceInterpreter| \
 |eu.semaine.components.dummy.DummyActionSelection| \

	|eu.semaine.components.dialogue.actionproposers.BackchannelActionProposer| \
    

	
    
# Show messages in all topics:
semaine.messagelog.topic = semaine.data.> \
	semaine.callback.>

# Show only dialog state messages:
#semaine.messagelog.topic = semaine.data.state.dialog

# Show all messages, i.e. periodic and event-based ones:
#semaine.messagelog.messageselector =
# Show only event-based messages:
semaine.messagelog.messageselector = event IS NOT NULL

semaine.systemmanager.gui = true

# Hide components or topics in order to increase readability of the system monitor graph:
semaine.systemmanager.hide.components = \
	ParticipantControlGUI \
	GUI \
	UserPresenceInterpreter \
	
semaine.systemmanager.hide.topics = \
	semaine.data.state.context \

# The system monitor graph, when sorting the components into an ad hoc architecture,
# will ignore connections via hidden topics, and can also ignore topics if given here:
semaine.systemmanager.gui.topics_to_ignore_when_sorting = \
	semaine.data.synthesis.lowlevel.command \
	semaine.data.state.dialog \



semaine.dialogue.logging = true


# For components known not to respect the "ping" requests from the system mgr,
# you can request that the system mgr does not change them to "stalled" state.
# If the property is present, its value is expected to be a space-separated list.
#semaine.systemmanager.ignorestalled = ASR AnyOtherComponentNamesSeparatedBySpaces


# The location of the character config file:
# (relative paths are interpreted as relative to the folder
# containing this component runner config file.)
semaine.character-config = character-config.xml
