# SEMAINE component runner config file

semaine.components = \
    |eu.semaine.components.meta.SystemManager| \
    |eu.semaine.components.dialogue.interpreters.EmotionInterpreter| \
	|eu.semaine.components.dialogue.interpreters.TurnTakingInterpreter| \
	|eu.semaine.components.dialogue.interpreters.UtteranceInterpreter| \
	|eu.semaine.components.dialogue.interpreters.NonVerbalInterpreter| \
	|eu.semaine.components.dialogue.interpreters.AgentMentalStateInterpreter| \
	|eu.semaine.components.dialogue.actionproposers.UtteranceActionProposer| \
    |eu.semaine.components.dialogue.test.TestGui| \
    |eu.semaine.components.mary.SpeechPreprocessor| \
    |eu.semaine.components.mary.SpeechBMLRealiser| \
    |eu.semaine.components.mary.QueuingSpeechPreprocessor| \
    |eu.semaine.components.mary.QueuingSpeechBMLRealiser| \
    |eu.semaine.components.mary.QueuingAudioPlayer| \
	|eu.semaine.components.dummy.DummyActionSelection| \
    |eu.semaine.components.dummy.DummyVisualFML2BML| \
    |eu.semaine.components.dummy.QueuingDummyFML2BML| \
    |eu.semaine.components.dummy.DummyBMLRealiser| \
    |eu.semaine.components.dummy.QueuingDummyBMLRealiser| \
    |eu.semaine.components.control.ParticipantControl| \
    |eu.semaine.components.MessageLogComponent($semaine.messagelog.topic, $semaine.messagelog.messageselector)| \
    |eu.semaine.components.emotion.EmotionFusion| \
    |eu.semaine.components.nonverbal.NonverbalFusion| \
    |eu.semaine.components.testing.StateLogger| \
    |eu.semaine.components.testing.AgentBehaviourObserver| \
    |eu.semaine.components.visualisation.Visualisation| \


    
# Show messages in all topics:
semaine.messagelog.topic = semaine.data.>
# Show only dialog state messages:
#semaine.messagelog.topic = semaine.data.state.dialog

# Show all messages, i.e. periodic and event-based ones:
#semaine.messagelog.messageselector =
# Show only event-based messages:
semaine.messagelog.messageselector = event IS NOT NULL

semaine.systemmanager.gui = true
#semaine.systemmanager.gui = false

# Start ActiveMQ as part of this java process:
semaine.use.embedded.broker = true

# Hide components or topics in order to increase readability of the system monitor graph:
semaine.systemmanager.hide.components = \
	ParticipantControlGUI \
	GUI \
	AgentObserver \
	StateLogger \
	
semaine.systemmanager.hide.topics = \
	semaine.data.state.context \


# For components known not to respect the "ping" requests from the system mgr,
# you can request that the system mgr does not change them to "stalled" state.
# If the property is present, its value is expected to be a space-separated list.
#semaine.systemmanager.ignorestalled = ASR AnyOtherComponentNamesSeparatedBySpaces

# The location of the various config files:
# (relative paths are interpreted as relative to the folder
# containing this component runner config file.)
semaine.character-config = character-config-demo.xml
semaine.stateinfo-config = stateinfo.config
semaine.DM-config = DM-demo.config
