# This is the config file for user state info messages in the SEMAINE project.
# It provides for each piece of information that can be represented a simple XPath expression
# describing how to encode this information in state info messages.

#####################################################################

[UserState]

[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml
bml     http://www.mindmakers.org/projects/BML
emotion http://www.w3.org/2005/Incubator/emotion


[short names]
headGesture 	 /semaine:user-state/bml:bml/bml:head/@type
headGestureStarted 	/semaine:user-state/bml:bml/bml:head/@start
headGestureStopped 	/semaine:user-state/bml:bml/bml:head/@end
facialExpression 	/semaine:user-state/bml:bml/bml:face/@shape
facialActionUnits 	/semaine:user-state/bml:bml/bml:face/@au
facialExpressionStarted 	/semaine:user-state/bml:bml/bml:face[@shape]/@start
facialExpressionStopped 	/semaine:user-state/bml:bml/bml:face[@shape]/@end
facialActionUnitsStarted 	/semaine:user-state/bml:bml/bml:face[@au]/@start
facialActionUnitsStopped 	/semaine:user-state/bml:bml/bml:face[@au]/@end
pitchDirection 	/semaine:user-state/semaine:pitch/@direction
speaking 	/semaine:user-state/semaine:speaking/@status
interest 	/semaine:user-state/emotion:emotion/emotion:dimensions[@set='interestDimension']/emotion:interest/@value
valence /semaine:user-state/emotion:emotion/emotion:dimensions[@set='genericEmotionDimensions']/emotion:valence/@value
arousal /semaine:user-state/emotion:emotion/emotion:dimensions[@set='genericEmotionDimensions']/emotion:arousal/@value
potency /semaine:user-state/emotion:emotion/emotion:dimensions[@set='genericEmotionDimensions']/emotion:potency/@value
emotion-quadrant /semaine:user-state/emotion:emotion/emotion:category[@set='fourQuadrants']/@name
userUtterance 	/semaine:user-state/semaine:userutterance/@utterance
userUtteranceStartTime 	/semaine:user-state/semaine:userutterance/@starttime
gender 	/semaine:user-state/semaine:gender/@name

#####################################################################

[AgentState]

[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml
emotion http://www.w3.org/2005/Incubator/emotion

[short names]
needToSpeak 	  /semaine:agent-state/semaine:needtospeak/@value
turnTakingIntention 	 /semaine:agent-state/semaine:turntakingintention/@value
listenerAgreement 	 /semaine:agent-state/semaine:listener-agreement/@value
listenerDisagreement 	 /semaine:agent-state/semaine:listener-disagreement/@value
listenerAcceptance 	 /semaine:agent-state/semaine:listener-acceptance/@value
listenerRefusal 	 /semaine:agent-state/semaine:listener-refusal/@value
listenerBelief 	 /semaine:agent-state/semaine:listener-belief/@value
listenerDisbelief 	 /semaine:agent-state/semaine:listener-disbelief/@value
listenerLiking 	 /semaine:agent-state/semaine:listener-liking/@value
listenerDisliking 	 /semaine:agent-state/semaine:listener-disliking/@value
listenerUnderstanding 	 /semaine:agent-state/semaine:listener-understanding/@value
listenerNoUnderstanding 	 /semaine:agent-state/semaine:listener-nounderstanding/@value
listenerInterest 	 /semaine:agent-state/semaine:listener-interest/@value
listenerNoInterest 	 /semaine:agent-state/semaine:listener-no-interest/@value
emotion-quadrant /semaine:user-state/emotion:emotion/emotion:category[@set='fourQuadrants']/@name
interest 	 /semaine:agent-state/emotion:emotion/emotion:dimensions[@set='interestDimension']/emotion:interest/@value

#####################################################################

[DialogState]
[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml

[short names]
userTurnState 	 /semaine:dialog-state/semaine:user/@believesHasTurn
agentTurnState 	/semaine:dialog-state/semaine:agent/@believesHasTurn

#####################################################################

[ContextState]
[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml

[short names]
userPresent 	 /semaine:situational-context/semaine:user/@status
character 	/semaine:situational-context/semaine:character/@name 

#####################################################################

[SystemState]
[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml

[short names]
cameraPresent 	 /semaine:setup/semaine:camera/@status
cameraXResolution 	/semaine:setup/semaine:camera/@xres
cameraYResolution 	/semaine:setup/semaine:camera/@yres
cameraFrameRate 	/semaine:setup/semaine:camera/@framerate
cameraNumChannels 	/semaine:setup/semaine:camera/@numChannels
microphonePresent 	/semaine:setup/semaine:microphone/@status
microphoneFrameRate 	/semaine:setup/semaine:microphone/@framerate
ecaPresent 	/semaine:setup/semaine:eca/@status
