# This is the config file for user state info messages in the SEMAINE project.
# It provides for each piece of information that can be represented a simple XPath expression
# describing how to encode this information in state info messages.

#####################################################################

[UserState]

[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml
bml     http://www.mindmakers.org/projects/BML
emotion http://www.w3.org/2009/10/emotionml


[short names]
headGesture 	 /semaine:user-state/bml:bml/bml:head/@type
headGestureStarted 	/semaine:user-state/bml:bml/bml:head/@start
headGestureStopped 	/semaine:user-state/bml:bml/bml:head/@end
facialExpression 	/semaine:user-state/bml:bml/bml:face/@shape
facialActionUnits 	/semaine:user-state/bml:bml/bml:face/@au
facialExpressionStarted 	/semaine:user-state/bml:bml/bml:face[@shape]/@start
facialExpressionStopped 	/semaine:user-state/bml:bml/bml:face[@shape]/@end
facialActionUnitsStarted 	/semaine:user-state/bml:bml/bml:face[@au]/@start
facialActionUnitsStopped 	/semaine:user-state/bml:bml/bml:face[@au]/@end
pitchDirection 	/semaine:user-state/semaine:pitch/@direction
speaking 	/semaine:user-state/semaine:speaking/@status

vocalization /semaine:user-state/semaine:vocalization/@name
facePresent /semaine:user-state/semaine:face-present/@status

interest 	/semaine:user-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/interest.xml']/emotion:dimension[@name='interest']/@value
valence /semaine:user-state/emotion:emotion[@dimension-set='http://www.example.com/emotion/dimension/FSRE.xml']/emotion:dimension[@name='valence']/@value
arousal /semaine:user-state/emotion:emotion[@dimension-set='http://www.example.com/emotion/dimension/FSRE.xml']/emotion:dimension[@name='arousal']/@value
potency /semaine:user-state/emotion:emotion[@dimension-set='http://www.example.com/emotion/dimension/FSRE.xml']/emotion:dimension[@name='potency']/@value
unpredictability /semaine:user-state/emotion:emotion[@dimension-set='http://www.example.com/emotion/dimension/FSRE.xml']/emotion:dimension[@name='unpredictability']/@value
intensity /semaine:user-state/emotion:emotion/emotion:intensity/@value
emotion-quadrant /semaine:user-state/emotion:emotion[@category-set='http://www.semaine-project.eu/emo/category/four-quadrants.xml']/emotion:category/@name
userUtterance 	/semaine:user-state/semaine:userutterance/@utterance
userUtteranceStartTime 	/semaine:user-state/semaine:userutterance/@starttime
userUtteranceFeatures 	/semaine:user-state/semaine:userutterance/@features
gender 	/semaine:user-state/semaine:gender/@name

#####################################################################

[AgentState]

[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml
emotion http://www.w3.org/2009/10/emotionml

[short names]
needToSpeak 	  /semaine:agent-state/semaine:needtospeak/@value
turnTakingIntention 	 /semaine:agent-state/semaine:turntakingintention/@value

# The following are bipolar scales, value range from 0 to 1; values below 0.5 mean disagreement etc., values above 0.5 mean agreement etc.
# They stem from research by Elisabetta Bevacqua et al.
# disagreement-agreement
agreement /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/communicative-functions.xml']/emotion:dimension[@name='agreement']/@value 
# refusal-acceptance
acceptance /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/communicative-functions.xml']/emotion:dimension[@name='acceptance']/@value 
# disbelief-belief
belief /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/communicative-functions.xml']/emotion:dimension[@name='belief']/@value 
# disliking-liking
liking /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/communicative-functions.xml']/emotion:dimension[@name='liking']/@value 
# no-understanding-understanding
understanding /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/communicative-functions.xml']/emotion:dimension[@name='understanding']/@value 
# no-interest-interest
interest /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/communicative-functions.xml']/emotion:dimension[@name='interest']/@value 

# The following are emotional, cognitive and interactional dimensions found to be relevant for
# listener vocalisations by Sathish Pammi et al.
# - unipolar dimensions, from "not present" to "intensely present":
anger /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/listener-meanings.xml']/emotion:dimension[@name='anger']/@value 
sadness /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/listener-meanings.xml']/emotion:dimension[@name='sadness']/@value 
amusement /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/listener-meanings.xml']/emotion:dimension[@name='amusement']/@value 
happiness /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/listener-meanings.xml']/emotion:dimension[@name='happiness']/@value 
contempt /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/listener-meanings.xml']/emotion:dimension[@name='contempt']/@value 
# - bipolar dimensions in the sense that both end points are marked:
# low-to-high anticipation
anticipation /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/listener-meanings.xml']/emotion:dimension[@name='anticipation']/@value 
# low-to-high solidarity
solidarity /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/listener-meanings.xml']/emotion:dimension[@name='solidarity']/@value 
# low-to-high antagonism
antagonism /semaine:agent-state/emotion:emotion[@dimension-set='http://www.semaine-project.eu/emo/dimension/listener-meanings.xml']/emotion:dimension[@name='antagonism']/@value 
# The remaining dimensions from Pammi's work are considered to be the same as some of the communicative functions above, namely:
# uncertain-certain => disbelief-belief
# disagreeing-agreeing => disagreement-agreement
# uninterested-interested => no-interest-interest


#####################################################################

[DialogState]
[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml

[short names]
userTurnState 	 /semaine:dialog-state/semaine:user/@believesHasTurn
agentTurnState 	/semaine:dialog-state/semaine:agent/@believesHasTurn
convState 	/semaine:dialog-state/semaine:agent/@convState

#####################################################################

[ContextState]
[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml

[short names]
userPresent 	 /semaine:situational-context/semaine:user/@status
character 	/semaine:situational-context/semaine:character/@name 
nextCharacter 	/semaine:situational-context/semaine:character/@next 

#####################################################################

[SystemState]
[namespace prefixes]
semaine http://www.semaine-project.eu/semaineml

[short names]
cameraPresent 	 /semaine:setup/semaine:camera/@status
cameraXResolution 	/semaine:setup/semaine:camera/@xres
cameraYResolution 	/semaine:setup/semaine:camera/@yres
cameraFrameRate 	/semaine:setup/semaine:camera/@framerate
cameraNumChannels 	/semaine:setup/semaine:camera/@numChannels
microphonePresent 	/semaine:setup/semaine:microphone/@status
microphoneFrameRate 	/semaine:setup/semaine:microphone/@framerate
ecaPresent 	/semaine:setup/semaine:eca/@status
